
nopCommerce_4\.10_Source/\.idea/\.idea\.NopCommerce/\.idea/

nopCommerce_4\.10_Source/\.idea/\.idea\.NopCommerce/

nopCommerce_4\.10_Source/\.vs/NopCommerce/DesignTimeBuild/\.dtbcache

nopCommerce_4\.10_Source/Libraries/Nop\.Core/obj/

nopCommerce_4\.10_Source/Libraries/Nop\.Data/obj/

nopCommerce_4\.10_Source/Libraries/Nop\.Services/obj/

*.cache

nopCommerce_4\.10_Source/Plugins/Nop\.Plugin\.DiscountRules\.CustomerRoles/obj/

nopCommerce_4\.10_Source/Plugins/Nop\.Plugin\.ExchangeRate\.EcbExchange/obj/

nopCommerce_4\.10_Source/Plugins/Nop\.Plugin\.ExternalAuth\.Facebook/obj/

nopCommerce_4\.10_Source/Plugins/Nop\.Plugin\.Payments\.CheckMoneyOrder/obj/

nopCommerce_4\.10_Source/Plugins/Nop\.Plugin\.Payments\.Manual/obj/

nopCommerce_4\.10_Source/Plugins/Nop\.Plugin\.Payments\.PayPalStandard/obj/

nopCommerce_4\.10_Source/Plugins/Nop\.Plugin\.Payments\.Square/obj/

nopCommerce_4\.10_Source/Plugins/Nop\.Plugin\.Payments\.Worldpay/obj/

nopCommerce_4\.10_Source/Plugins/Nop\.Plugin\.Pickup\.PickupInStore/obj/

nopCommerce_4\.10_Source/Plugins/Nop\.Plugin\.Shipping\.FixedByWeightByTotal/obj/

nopCommerce_4\.10_Source/Plugins/Nop\.Plugin\.Shipping\.UPS/obj/

nopCommerce_4\.10_Source/Plugins/Nop\.Plugin\.Tax\.FixedOrByCountryStateZip/obj/

nopCommerce_4\.10_Source/Plugins/Nop\.Plugin\.Widgets\.GoogleAnalytics/obj/

nopCommerce_4\.10_Source/Plugins/Nop\.Plugin\.Widgets\.NivoSlider/obj/

nopCommerce_4\.10_Source/Presentation/Nop\.Web\.Framework/obj/

nopCommerce_4\.10_Source/Presentation/Nop\.Web/obj/

nopCommerce_4\.10_Source/Presentation/Nop\.Web/wwwroot/images/thumbs/

nopCommerce_4\.10_Source/Tests/Nop\.Core\.Tests/obj/

nopCommerce_4\.10_Source/Tests/Nop\.Services\.Tests/obj/

nopCommerce_4\.10_Source/Tests/Nop\.Tests/obj/

nopCommerce_4\.10_Source/Tests/Nop\.Web\.MVC\.Tests/obj/
