@model ShoppingCartModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.ShoppingCart").Text);
    //page class
    Html.AppendPageCssClassParts("html-shopping-cart-page");
}
@if (!Model.OnePageCheckoutEnabled)
{
    @await Component.InvokeAsync("CheckoutProgress", new {step = CheckoutProgressStep.Cart})
}
<div class="page shopping-cart-page">
    <div class="page-title">
        <h1>@T("ShoppingCart")</h1>
    </div>
    <div class="product-sorting" id="product-sorting">
        <span>@T("Catalog.OrderBy")</span>
        @Html.DropDownList("products-orderby", Model.AvailableSortOptions, new {onchange = "setLocation(this.value);", aria_label = T("Catalog.OrderBy.Label")})
    </div>
    <div class="page-body">
        @await Component.InvokeAsync("OrderSummary", new {overriddenModel = Model})
    </div>
</div>